# OpenAI
OPENAI_API_KEY=changeme
OPENAI_MODEL=changeme

# Neo4j
NEO4J_USER=changeme
NEO4J_PASSWORD=changeme
NEO4J_URI=changeme

# PostgreSQL
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme

# App
APP_ENV=changeme