# OpenAI
OPENAI_API_KEY=changeme
OPENAI_MODEL=changeme

# Neo4j
NEO4J_USER=changeme
NEO4J_PASSWORD=changeme
NEO4J_URI=changeme

# PostgreSQL
POSTGRES_HOST=changeme
POSTGRES_PORT=changeme
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
SQL_STATEMENT_TIMEOUT_MS=changeme
POSTGRES_POOL_MIN_SIZE=changeme
POSTGRES_POOL_MAX_SIZE=changeme
POSTGRES_WRITE_POOL_MIN_SIZE=changeme
POSTGRES_WRITE_POOL_MAX_SIZE=changeme

# pgAdmin
PGADMIN_EMAIL=changeme
PGADMIN_PASSWORD=changeme

# Auth
JWT_SECRET_KEY=changeme

# App
APP_ENV=changeme
